* {
    font-family: consolas;
    outline: none;
    border: none;
}
textarea,
input,
select,
button {
    font-size: 100%;
}
body {
    background-color: #222;
    color: white;
    margin: 0;
    margin-bottom: 4em;
}

main {
    padding: 0.5em;
}

select {
    background-color: #444;
    color: white;
    border: 1px solid #aaa;
}

textarea,
input {
    background-color: #111;
    color: white;
}
textarea:focus,
input:focus {
    box-shadow: 0 0 0 1px #888;
}
